@import '../../../bower_components/brick-common/styles/themes/default/params'

$brand-blue = #00CAF2

:host {
  color: $brand-blue;
  &([default]) {
    background-color: $brand-blue;
    color: #fff;
  }
  &([default][disabled]) {
      background-color: saturation($brand-blue, 15%);
    }
}