@import '../bower_components/brick-common/styles/mixins'
@import '../bower_components/brick-common/styles/params'

:host {


  display: inline-block;
  position: relative;
  border: 0;
  background: transparent;
  text-align: center;
  outline: none;
  border-radius: 30px;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 10px;

  &([disabled]) {
    color: grey;
    pointer-events: none;
    cursor: auto;
  }

}  
